.settings
classes/
/build/*
!/build/.gitkeep
target/*
!target/.gitkeep
.project
.classpath
binaries/*
!binaries/.gitkeep
datas/*
!datas/.gitkeep
WebContent/WEB-INF/conf/binarystore.properties
WebContent/WEB-INF/conf/database.properties
WebContent/WEB-INF/conf/ldap.properties
WebContent/WEB-INF/conf/log4j.properties
WebContent/WEB-INF/conf/memcache.properties
WebContent/WEB-INF/conf/security.properties
